<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-table.css">
    <link rel="stylesheet" href="css/fontawesome-all.min.css">

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-table.js"></script>
    <script src="js/bootstrap-table-toolbar.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/models.js"></script>
    <script src="js/mainView.js"></script>
    <script src="js/detailsView.js"></script>
    <script src="js/CarView.js"></script>
    <script src="js/AdminView.js"></script>
    <script src="js/AdminTableView.js"></script>
    <script src="js/AdminRowView.js"></script>
    <script src="js/app.js"></script>

    <style>
        .ml10 {
            margin-left: 10px;
        }
    </style>

    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
    <script type="text/template" id="car_details">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <% if (id == null || id == '') { %>
                           <h5 class="modal-title" id="exampleModalLabel">Create Car</h5>
                        <% } else {%>
                           <h5 class="modal-title" id="exampleModalLabel">Update Car</h5>
                        <% } %>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="carId">Car id</label>
                        <input type="text" class="form-control" id="carId" value="<%= id %>" disabled>
                        <label for="carBody">Body</label>
                        <select id="carBody" class="form-control">
                            <option <% if(body == 'Saloon'){ %> selected <% } %> >Saloon</option>
                            <option <% if(body == 'Coupe'){ %> selected <% } %>  >Coupe</option>
                            <option <% if(body == 'HatchBack'){ %> selected <% } %> >HatchBack</option>
                            <option <% if(body == 'Cabriolet'){ %> selected <% } %> >Cabriolet</option>
                            <option <% if(body == 'SUV'){ %> selected <% } %> >SUV</option>
                        </select>
                        <label for="carModel">Model</label>
                        <input type="text" class="form-control" id="carModel" value="<%= model %>" >

                        <label for="carYear">Year</label>
                        <select id="carYear" class="form-control">
                        <% var max = new Date().getFullYear(),
                           min = max - 20;
                           for (var i = max; i >= min; i--) {
                            if(i == year) {
                        %>
                              <option selected><%= i %></option>
                         <%
                             }else{
                        %>
                           <option><%= i %></option>
                        <%
                             }
                           }
                        %>
                        </select>
                        <label for="carDoors">Doors</label>
                        <input type="text" class="form-control" id="carDoors" value="<%= doors %>" >
                        <label for="engineId">Engine Id</label>
                        <input type="text" class="form-control" id="engineId" value="<%= engine.id %>" disabled>
                        <label for="engineSize">Engine Size</label>
                        <input type="text" class="form-control" id="engineSize" value="<%= engine.size %>" >
                        <label for="engineFuel">Fuel</label>
                        <select id="engineFuel" class="form-control" >
                            <option <% if(engine.fuel == 'Petrol'){ %> selected <% } %> >Petrol</option>
                            <option <% if(engine.fuel == 'Diesel'){ %> selected <% } %> >Diesel</option>
                            <option <% if(engine.fuel == 'Electric'){ %> selected <% } %> >Electric</option>
                            <option <% if(engine.fuel == 'Hybrid'){ %> selected <% } %> >Hybrid</option>
                        </select>
                        <label for="engineTransmission">Transmission</label>
                        <select id="engineTransmission" class="form-control" >
                            <option  <% if(engine.transmission == 'Manual'){ %> selected <% } %>  >Manual</option>
                            <option  <% if(engine.transmission == 'Automatic'){ %> selected <% } %>  >Automatic</option>
                        </select>
                        <label for="engineCylinders">Cylinders</label>
                        <input type="text" class="form-control" id="engineCylinders" value="<%= engine.cylinders %>">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <% if (id == null || id == '') { %>
                           <button type="button" id="carButton" class="btn btn-primary">Create Car</button>
                        <% } else {%>
                          <button type="button" id="carButton" class="btn btn-primary">Update Car</button>
                          <button id="btnDelete">Delete</button>
                        <% } %>

                    </div>
                </div>
        </div>

    </script>

    <script type="text/template" id="car_list">
            <div class="card"> <img src="images/notfound.png" height="150">
                <div class="card-block">
                    <h4 class="card-title">Model: <%= model%> </h4>
                    <p class="card-text">Year:   <%= year%> </p>
                    <p class="card-text">Body:  <%= body %></p>
                    <p class="card-text">Doors:  <%= doors%> </p>
                    <p class="card-text">Engine Size:  <%= engine.size%> </p> </div></div>
    </script>
    <script type="text/template" id="admin_page">
    <button type="button" id="modalButton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Create Car
    </button>
    </script>
    <script type="text/template" id="admin_table">
    <thead>
    <tr>
        <th data-sortable="true" data-field="id">Car ID</th>
        <th data-field="model">Car Model</th>
        <th data-field="year">Year</th>
        <th data-field="body">Body Type</th>
        <th data-field="doors">Doors</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody></tbody>
    </script>
    <script type="text/template" id="admin_table_row">
        <td><%= id %></td>
        <td><%= model %></td>
        <td><%= year %></td>
        <td><%= body %></td>
        <td><%= doors %></td>
        <td>
        <button class="edit btn btn-default"><span class="far fa-edit"></span> </button>
        <button class="edit btn btn-danger"><span class="fa fa-times-circle"></span> </button>
        </td>
    </script>
</head>
<body>
<div id="tabs">
    <ul>
        <li><a href="#tabs-0">Home</a></li>
        <li><a href="#tabs-1">User</a></li>
        <li><a href="#tabs-2">Admin</a></li>
    </ul>
    <div id="tabs-0">
        <h1>Home Page</h1>
    </div>
    <div id="tabs-1">
        <div class="container">
          <div id="carList" class="row"></div>
        </div>
    </div>
    <div id="tabs-2">
        <div id="admin_data" >
            <!--<div class="paginator row">
                <div class="span4 pagination-info"> </div>
                <div class="span8 pagination pagination-right pagination-boxes"></div>
            </div>-->
        </div>
        <div id="admin" ></div>
    </div>
</div>
</body>
</html>